# Ignore Python bytecode
__pycache__/

# Ignore build directories
build/

# Ignore distribution folder
dist/

# Ignore IDE configurations (optional)
.idea/
*.swp

# Ignore log files and temporary files
*.log
*.tmp
#Allow tracking of shared/requests/
!shared
!shared/requests/